* {
	padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
	--purple-dark: #170312;
	--purple-medium: #33032d;
    --purple-light: #531253;
    --gray-light: #eaeaea;
    --white: #f4fffd;
	--theme-color:#560d6a;
	--primary-color: #40014d;
	--secundary-color: #2d0544bf;
	--text-color-inverse: black;
	--text-color: black;
	--navbar-shallow-color:#2d032c;;
	--menu-mobile-background-color: #590f58a8;
}

.body {
	margin: 0;
	font-family: sans-serif;
}

p {
	font-size: 22px;
}
html{
	scroll-behavior:smooth ;
	
}
section[id]{
	scroll-margin-top: 70px;

}

/* ------------------------- */
/* NAVBAR */
/* ------------------------- */

.topheader {
	box-shadow: 0 4px 5px var(--navbar-shallow-color);
	position: fixed;
	background-color:#531253;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100;
  }
  
  .topnav {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	max-width: 980px;
	margin: 0 auto;
  }
  
  /* Logo */
  
  .logo {
	display: flex;
	align-items: center;
	font-size: 18px;
	font-weight: 500;
	color: var(--primary-color);
  }
  
  .logo img {
	border-radius: 50%;
  }
  
  /* Menu */
  .menu {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .menu li {
	padding: 0 15px;
  }
  
  .menu a {
	color: var(--text-color);
	font-size: 18px;
	font-weight: 500;
	line-height: 50px;
	text-transform: uppercase;
	position: relative;
  }
  
  .menu a::after {
	content: "";
	background-color: var(--secundary-color);
	position: absolute;
	left: 0;
	top: calc(100% + 4px);
	width: 100%;
	height: 4px;
  
	opacity: 0;
	transition: opacity 0.3s;
  }
  
  .menu a.selected::after,
  .menu a:hover::after {
	opacity: 0.8;
  }
  
  .menu a:hover {
	color: var(--primary-color);
  }
  
  .open-menu,
  .close-menu {
	display: none;
  }
  
  .logotype {
	display: flex;
	justify-content: center;
  }
  
  @media (max-width: 950px) {
	/* Menu */
	.menu {
	  flex-direction: column;
	  position: fixed;
	  left: 0;
	  top: 0;
	  width: 100%;
	  align-items: center;
	  background-color: var(--menu-mobile-background-color);
	  height: 100%;
	  overflow-y: auto;
  
	  opacity: 0;
	  pointer-events: none;
	  transition: opacity 0.3s;
	}
  
	.menu li {
	  padding: 0;
	}
  
	.menu a {
	  color: var(--text-color-inverse);
	  line-height: 70px;
	  font-size: 25px;
	}
  
	.open-menu,
	.close-menu {
	  display: block;
	  border: none;
	  background: none;
	  cursor: pointer;
	}
  
	.close-menu {
	  align-self: flex-end;
	  padding: 20px 15px;
	}
  
	.menu_opened {
	  opacity: 1;
	  pointer-events: all;
	}
  
	.open-menu:focus:not(:focus-visible),
	.close-menu:focus:not(:focus-visible) {
	  outline: none;
	}
  
	.menu a::after {
	  content: none;
	}
  
	.menu a:hover,
	.menu a.selected {
	  color: var(--secundary-color);
	}
  }

/* ------------------------- */
/* Header */
/* ------------------------- */
.contenido-header {
	width: 100%;
	height: 100vh;
	background-image: url(../img/img-inicio.jpeg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.contenido-header .fondo {
	width: 0%;
	height: 100%;
	max-width: 100%;
	background-image: url(../img/img-animacion.png);
}

.contenido-header .texto {
	width: calc(100vw - 20px);
	height: 110vh;
	font-size: 90px;
	font-weight: 400;
	font-family: 'Noto Serif', serif;
	font-style: italic;
	display: flex;
	align-items: center;
	justify-content: center;
	color: purple;
	mix-blend-mode: multiply;
}



/* ------------------------- */
/* Nosotros */
/* ------------------------- */
.nosotros {
	margin-bottom: 60px;
}

.subtitulo {
	font-size: 20px;
	color: var(--purple-dark);
	font-family: 'Noto Serif', serif;
	font-weight: 700;
	z-index: 2;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.subtitulo span {
	background-color: var(--gray-light);
	padding: 0 15px;
	z-index: 99;
	position: relative;
}

.subtitulo::after {
	content: "";
	display: inline-block;
	height: 2px;
	width: 100%;
	background: var(--purple-dark);
	position: relative;
	top: -29px;
	z-index: 1;
}

.nosotros .titulo {
	width: 70%;
	font-size: 44px;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 50px;
}

.nosotros .enlace {
	display: inline-block;
	margin-top: 40px;
	color: var(--purple-light);
	font-weight: 700;
	border-bottom: 1px solid transparent;
	transition: .3s ease all;
}

.nosotros .enlace:hover {
	text-decoration: none;
	letter-spacing: 3px;
	border-bottom: 1px solid var(--purple-light);
}

/* ------------------------- */
/* Productos */
/* ------------------------- */
.productos {
	background: var(--gray-light);
	padding: 20px;
	margin-bottom: 60px;
}

.productos .titulo {
	width: 70%;
	font-size: 44px;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 50px;
}

.productos .producto {
	position: relative;
	width: 100%;
}

.productos .overlay {
	width: 0%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: var(--purple-light);
	overflow: hidden;
	transition: .5s ease;
}

.productos .producto:hover .overlay{
	width: 100%;
	opacity: .8;
}

.productos .producto .overlay-texto {
	top: 50%;
	left: 50%;
	position: absolute;
	white-space: nowrap;
	color: var(--white);
	font-size: 18px;
	transform: translate(-50%, -50%);
	overflow: hidden;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.productos .btn-productos {
	background-color: var(--purple-light);
	color: #fff;
	padding: 7px 20px;
	text-transform: uppercase;
	font-size: 16px;
	border: 2px solid transparent;
	transition: .3s ease;
}

.productos .btn-productos:hover {
	background-color: transparent;
	border: 2px solid var(--purple-light);
	color: var(--purple-light);
}

/* ------------------------- */
/* Separador */
/* ------------------------- */
.separador {
	width: 100%;
	height: 250px;
	background-image: url('../img/img-separador.jpeg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 60px;
}

.separador p {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	font-family: 'Noto Serif', serif;
	padding: 10px;
}

/* ------------------------- */
/* Acerca de */
/* ------------------------- */
.acerca-de {
	margin-bottom: 60px;
}

/* ------------------------- */
/* Galeria */
/* ------------------------- */
.galeria {
	margin-bottom: 60px;
}

.galeria img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.contacto {
	margin-bottom: 60px;
}

.redes-sociales {
	padding: 10px;
	background-color: var(--purple-light);
}

.redes-sociales img {
	padding: 5px;
	border-radius: 100%;
	width: 50px;
	transition: .3s ease all;
}

.redes-sociales img:hover {
	transform: scale(1.2);
}

.desarrollo{
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	text-align: right;
	float: right;


}

/* ------------------------- */
/* Mediaqueries */
/* ------------------------- */
@media screen and (max-width: 992px) {
	p {
		font-size: 18px;
	}

	.contenido-header .texto {
		font-size: 60px;
	}

	.menu a {
		font-size: 20px;
	}

	.nosotros .titulo,
	.productos .titulo {
		font-size: 30px;
	}


	

}