* {
	padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
	--purple-dark: #170312;
	--purple-medium: #33032d;
    --purple-light: #531253;
    --gray-light: #eaeaea;
    --white: #f4fffd;
}

.body {
	margin: 0;
	font-family: sans-serif;
}

p {
	font-size: 22px;
}
html{
	scroll-behavior:smooth ;
	
}
section[id]{
	scroll-margin-top: 70px;

}

/* ------------------------- */
/* NAVBAR */
/* ------------------------- */

.barra {
    font-family: 'Noto Serif', serif;
	font-style: italic;
    /**Alto y ancho de donde se va a activar cuando pase el mouse**/
    width:10%;
    height:9%;
    /*Para que este siempre en la misma parte de la pantalla aunque se haga scroll*/
    position:fixed;
    /*Tiempo en el que va a transitar la animacion*/
    transition: .4s all ;
    /*este arriba de todo en la pantalla*/
    z-index: 1;  
}

.barra ul{
    /*solucionar espacios no deseados*/
    padding:0px;
    text-align: center;
        
}
.barra  li{
    /*Velocidad de transicion del contenido*/
    transition:all .3s;
    list-style: none; 
}

.barra a{
    text-decoration: none;
    
    font-weight: normal;
    
    /*La letra crece con el menu de esta manera no se va a ver como se ajusta al margen mientras crece*/
    transition: .3s all ;
    /*Se ocultan los elementos*/
    font-size: 0px;
    padding:0px;
}

.barra  h2{
	font-family: 'Noto Serif', serif;
	font-style: italic;
    text-align: center;
    color: #39033e;
    padding:7px;
    padding-bottom:7px;

    /*Se oculta el h2*/
    font-size:0px;   
}

.barra img{
    padding-top: 30px;
    padding-left: 10px;
}

.barra:hover{
    /*Tamaño cuando el cursor señale la barra*/
    width: 70%;
    height: 100vh;
    
    /*Color*/
    background: rgba(104, 9, 149, 0.571);
}
.barra:hover h2{
    /*posicion dentro de barra del h2*/
    padding:15px;
    font-size: 35px;
}
.barra:hover a{ 
    font-size:20px ;
    color:white;
    /*Se usa el display block para que el enlace respete el margin*/
    display: block;
    padding:20px;
}
.barra:hover img{
    /*Desaparecer la imagen*/
    height:0px;
}


.barra:hover li{
    border-top:1px solid #7f0a9d;
    /*Espacios entre las lineas y el contenido*/
    
    width:100%;
        
}
.barra:hover ul:last-of-type{


    border-bottom: 1px solid #470558;
}

.barra:hover a:hover{ 
    font-size: 25px;
    padding: 30px 0px; 
    background: rgba(120, 9, 130, 0.98);  
}

@media (min-width: 768px){
    .barra:hover{
    width: 45%;
    }
}


/* ------------------------- */
/* Header */
/* ------------------------- */
.contenido-header {
	width: 100%;
	height: 100vh;
	background-image: url(../img/img-inicio.jpeg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.contenido-header .fondo {
	width: 0%;
	height: 100%;
	max-width: 100%;
	background-image: url(../img/img-animacion.png);
}

.contenido-header .texto {
	width: calc(100vw - 20px);
	height: 110vh;
	font-size: 90px;
	font-weight: 400;
	font-family: 'Noto Serif', serif;
	font-style: italic;
	display: flex;
	align-items: center;
	justify-content: center;
	color: purple;
	mix-blend-mode: multiply;
}



/* ------------------------- */
/* Nosotros */
/* ------------------------- */
.nosotros {
	margin-bottom: 60px;
}

.subtitulo {
	font-size: 20px;
	color: var(--purple-dark);
	font-family: 'Noto Serif', serif;
	font-weight: 700;
	z-index: 2;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.subtitulo span {
	background-color: var(--gray-light);
	padding: 0 15px;
	z-index: 99;
	position: relative;
}

.subtitulo::after {
	content: "";
	display: inline-block;
	height: 2px;
	width: 100%;
	background: var(--purple-dark);
	position: relative;
	top: -29px;
	z-index: 1;
}

.nosotros .titulo {
	width: 70%;
	font-size: 44px;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 50px;
}

.nosotros .enlace {
	display: inline-block;
	margin-top: 40px;
	color: var(--purple-light);
	font-weight: 700;
	border-bottom: 1px solid transparent;
	transition: .3s ease all;
}

.nosotros .enlace:hover {
	text-decoration: none;
	letter-spacing: 3px;
	border-bottom: 1px solid var(--purple-light);
}

/* ------------------------- */
/* Productos */
/* ------------------------- */
.productos {
	background: var(--gray-light);
	padding: 20px;
	margin-bottom: 60px;
}

.productos .titulo {
	width: 70%;
	font-size: 44px;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 50px;
}

.productos .producto {
	position: relative;
	width: 100%;
}

.productos .overlay {
	width: 0%;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: var(--purple-light);
	overflow: hidden;
	transition: .5s ease;
}

.productos .producto:hover .overlay{
	width: 100%;
	opacity: .8;
}

.productos .producto .overlay-texto {
	top: 50%;
	left: 50%;
	position: absolute;
	white-space: nowrap;
	color: var(--white);
	font-size: 18px;
	transform: translate(-50%, -50%);
	overflow: hidden;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.productos .btn-productos {
	background-color: var(--purple-light);
	color: #fff;
	padding: 7px 20px;
	text-transform: uppercase;
	font-size: 16px;
	border: 2px solid transparent;
	transition: .3s ease;
}

.productos .btn-productos:hover {
	background-color: transparent;
	border: 2px solid var(--purple-light);
	color: var(--purple-light);
}

/* ------------------------- */
/* Separador */
/* ------------------------- */
.separador {
	width: 100%;
	height: 250px;
	background-image: url('../img/img-separador.jpeg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 60px;
}

.separador p {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	font-family: 'Noto Serif', serif;
	padding: 10px;
}

/* ------------------------- */
/* Acerca de */
/* ------------------------- */
.acerca-de {
	margin-bottom: 60px;
}

/* ------------------------- */
/* Galeria */
/* ------------------------- */
.galeria {
	margin-bottom: 60px;
}

.galeria img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.contacto {
	margin-bottom: 60px;
}

.redes-sociales {
	padding: 10px;
	background-color: var(--purple-light);
}

.redes-sociales img {
	padding: 5px;
	border-radius: 100%;
	width: 50px;
	transition: .3s ease all;
}

.redes-sociales img:hover {
	transform: scale(1.2);
}

.desarrollo{
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	text-align: right;
	float: right;


}

/* ------------------------- */
/* Mediaqueries */
/* ------------------------- */
@media screen and (max-width: 992px) {
	p {
		font-size: 18px;
	}

	.contenido-header .texto {
		font-size: 60px;
	}

	.menu a {
		font-size: 20px;
	}

	.nosotros .titulo,
	.productos .titulo {
		font-size: 30px;
	}


	

}